
@{
    ViewData["Title"] = "NIAAPI";
}

<h1>NIAAPI</h1>

<h1> SBACK 回復 @Html.Raw(@ViewBag.NumberE)</h1>


<button type="button" onclick="location.href='@Url.Action("ValidationAPI","Home")'"> 往前 Validation API </button>

